server {
    listen 80;
    listen [::]:80;
    server_name {{ nginx_domain }} www.{{ nginx_domain }};
    return 302 https://$server_name$request_uri;
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    ssl_certificate /etc/ssl/cloudflare_cert.pem;
    ssl_certificate_key /etc/ssl/cloudflare_key.pem;

    server_name {{ nginx_domain }} www.{{ nginx_domain }};

    root /var/www/{{ nginx_domain }}/;
    index index.html index.htm;

    location / {
        try_files $uri $uri/ =404;
    }
}